*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Georgia', serif;
    background-color: white;
    color: #333;
} 
.head{
  height: 97px; 
    background-color:navy;
    display: flex;
    align-items: flex-end;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navi{
  position: absolute;
    top: 2px;
    right: 5px;
    font-size: 17px;
    font-weight: 30px;
    padding:30px;
    margin: 28px;
  }
  .navi ul{
  list-style: none;
  display: flex;
  gap: 15px;
  }
  .navi ul li{
    margin: 0%;
  }
  .navi ul li a{
    text-decoration: none;
    color: white;
    font-size: small;
    font-size: 15px;
  }
  .navi li{
    list-style-type: none;
  }
  .head .ead{
    display: flex;
    align-items: center;
    gap:8px;
  }
  .ead img{
      border-radius: 10%;
      height: 90px;
      width: 70px;
  }
  .ead h3{
  text-align: left; 
  color: white;
  }
  p{
    padding: 10px 30px;
    font-weight: 200px;
    font-size: larger;
    color: black;
  }
  footer{
  background-color: navy;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer p {
    font-size: 14px;
    color: white;
}
