*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.container{
    position: relative;
    text-align: center;
    color: white;
}

.word{
  text-align: center;
  color:whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.head img{
    border-radius: 300px;
    width: 200px;
    height: 150px;
    text-align: left;
}
.head{
    list-style: none;
    justify-content: space-between;
    align-items:  center;
    border: 3px ;
    display: flex;
    gap: 1rem;
}
.navi ul{
     list-style: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    align-items:center;
}