*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: red;
}
.container{
    position: relative;
    text-align: center;
    color: white;
}

.word{
  text-align: center;
  color:whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.head img{
    border-radius: 400px;
    width: auto;
    height: 5rem;
    text-align: left;
}
.head{
    list-style: none;
    justify-content: space-between;
    align-items:  center;
    border: 1px ;
    display:flex ;
    
}
.navi ul {
    width: 100%;
    color: white;
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    border: 1px;
}
.navi a{
    text-decoration: none;
}
.ead{
    display:flex;
    gap: 1rem;
    align-items: center;
}
p{
 align-items: end;
}
#she{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.but{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}